
* {
    text-align: center;
    font-family: helvetica;
    
    margin: 0px; 
  }
  
* body {
  background-image: url('../images/northernlights.jpg');
}

#temperature-up, #temperature-down, #temperature-reset, #powersaving-on, #powersaving-off {
  border: 2px solid #f2f3f4;
  background-color: rgba(0,0,0, 0.3);
  color: whitesmoke;
  cursor: pointer;
  font-size: 13px;
  width:70px; 
  height:30px;
  border-radius: 5px;
}

p {
  padding: 20px;
  
}
  
.bg-text {
  font-family: helvetica;
  background-color: rgba(0,0,0, 0.4);
  color: whitesmoke;
  border: 3px solid #f2f3f4;
  top: 70%;
  left: 50%; 
  transform: translate(-50%, 15%); 
  width: 40%;
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  font-size: 30px;
  position: relative;
  /* height: 300px; */
}

#temperature {
  font-size: 20vw;
  text-align: center;
  border: 0px;
  margin: 0px;
  margin: 0 auto;
}

.low-usage {
  color: #e6e6fa;
  -webkit-text-stroke-width: 6px;
  -webkit-text-stroke-color: #0892d0;
  /* background-color: rgb(8, 146, 208, 0.6);
  border-radius: 10px; */
}
  
.medium-usage {
  color: #e6e6fa;
}

.high-usage {
  color: #e6e6fa;
  -webkit-text-stroke-width: 6px;
  -webkit-text-stroke-color: #cc5500;
  /* background-color:	rgb(204, 85, 0, 0.6);
  border-radius: 10px; */
}
  
h1 {
  color: whitesmoke;
  font-size: 80px;
  
}

h3 {
  color: whitesmoke;
  font-size: 20px;
  padding: 10px;
  margin: 0 auto;
  bottom: 20px;
  
}

.footer {
  background-color: rgba(0,0,0, 0.4);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 20px;
  color: white;
  text-align: center;
}

.weatherapi {
  font-family: helvetica;
  background-color: rgba(0,0,0, 0.4);
  color: whitesmoke;
  border: 3px solid #f2f3f4;
  top: 75%;
  left: 50%;
  transform: translate(-50%, 70%);
  width: 40%;
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  font-size: 30px;
  position: relative;
}
